body {
  background-color: #e4ecec
}

.container {
  text-align: center;
}

.heading {
  font-size: 48px;
  margin-bottom: 10px;
}

.description {
  font-size: 16px;
  margin-bottom: 20px;
}

.tiles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 0 20px;
}

.tile {
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  background-color: #ffffff;
}

.tile:hover {
  background-color: #f0f0f0;
}

/* レスポンシブ対応 */
@media (max-width: 768px) {
  .tiles {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .tiles {
    grid-template-columns: 1fr;
  }
}
